<h2>Create new Expenses file</h2>
<div class="input-form">
  <mat-form-field class="input-form-field">
    <input matInput [(ngModel)]="name" required placeholder="Name">
  </mat-form-field>
  <mat-form-field class="input-form-field">
    <input matInput [(ngModel)]="fileName" required placeholder="File Name in Drive">
  </mat-form-field>
  <div class="form-button-container">
    <button mat-fab class="create-confirm" color="primary" (click)="confirm()">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>