.rule-list {
    padding-top: 0
}

.rule-info {
    flex-grow: 1;
    margin-bottom: -1em;
    margin-right: 20px;
}

.rule-arrow {
    margin-right: 20px;
    margin-bottom: -1em;
}

mat-list-item.rule-line {
    height: 4em;
}

