<mat-sidenav-container>
  <mat-sidenav #sidenav fixedInViewport>
    <mat-toolbar>
      <h1 class="menu">Menu</h1>
    </mat-toolbar>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <h1>Expenses</h1>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-progress></app-progress>