<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" fixedInViewport>
    Test test
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <h1>Expenses</h1>
    </mat-toolbar>
    Test test
  </mat-sidenav-content>
</mat-sidenav-container>

