.color-square {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.category-option {
    display: flex;
    align-items: center;
}

.option-color-square {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

.category-option-name {
    flex-grow: 1;
    max-width: 20em;
    overflow: hidden;
}

.category-picker {
    display:flex;
    align-items: center;
}

.category-picker-input {
    flex-grow: 1;
}