<app-shell title="Import">
  <input type="file" #fileInput (change)="upload()" class="file-select">
  <div class="input-form" *ngIf="file">
    <mat-form-field class="input-form-field">
      <mat-select [(value)]="selectedEncoding" placeholder="Encoding">
        <mat-option value="UTF-8">
          UTF-8
        </mat-option>
        <mat-option value="cp1250">
          cp1250
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-form-field">
      <input matInput placeholder="Skip lines" type="number" [(ngModel)]="skipLines">
    </mat-form-field>
  </div>
  <div class="input-form-wide" *ngIf="file">
    <h3>Preview</h3>
    <div *ngFor="let previewLine of preview" class="preview-line">{{previewLine}}</div>
    <h3>Settings</h3>
    <div class="input-form-field column-container" *ngFor="let outputColumn of outputColumns">
      <span class="column-header">{{outputColumn}}</span>
      <mat-chip-list class="column-chips">
        <mat-chip *ngFor="let selColumn of selectedColumns[outputColumn]" selectable="false" removable="true" (removed)="remove(selColumn, outputColumn)">
          {{selColumn}} <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-form-field class="column-select">
        <mat-select (selectionChange)="selected($event, outputColumn)" placeholder="Select columns">
          <mat-option *ngFor="let availableColumn of availableColumns" [value]="availableColumn">{{availableColumn}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-button-container">
      <button mat-fab (click)="save()" color="primary">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>
  </div>
</app-shell>