.record-title {
    align-items: center;
}

.record-item-date {
    width: 6em;
    margin-right: 20px;
}

.record-item-amount {
    width: 8em;
    margin-right: 50px;
    text-align: right;
}

.record-color-rect {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    display: inline-block;
}