<app-shell title="Records" [toolbarTemplate]="toolbar">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let record of displayedRecords">
      <mat-expansion-panel-header expandedHeight="4em" collapsedHeight="4em">
        <mat-panel-title class="record-title">
          <div class="record-item record-item-date">
            {{record.date.format("ll")}}
          </div>
          <div class="record-item record-item-amount">
            {{record.record.amount}} {{record.record.currency}}
          </div>
          <div class="record-item record-item-category">
            {{record.category}}
          </div>
          <div class="record-color-rect" [style.background]="record.categoryColor"></div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Contra Account: {{record.record.contraAccount}}</p>
      <p>{{record.record.description}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-paginator [length]="records.length" pageSize="20" [pageSizeOptions]="[10, 20, 50, 100, 200]" (page)="changePage($event.pageIndex, $event.pageSize)">
  </mat-paginator>
</app-shell>
<ng-template #toolbar>
  <button mat-icon-button (click)="filter()">
    <mat-icon>
      build
    </mat-icon>
  </button>
</ng-template>