/* You can add global styles to this file, and also import other style files */

html, body, mat-sidenav-container { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer { display: inline-block; width: 1em; }