<app-shell title="Settings">
  <div class="settings-container">
    <div class="header-container">
      <h2 class="header-text">Logged in as {{userName}}</h2>
      <button mat-button color="primary" (click)="changeUser()">Change</button>
    </div>
    <div class="input-form">
      <mat-form-field class="input-form-field" *ngIf="settings">
        <mat-select [(value)]="selectedFile" placeholder="Select file to work with">
          <mat-option *ngFor="let dataFile of settings.dataFiles" [value]="dataFile.id">
            {{dataFile.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="fileInfo">
        <h4>File Information</h4>
        <mat-list>
          <mat-list-item class="info-container">
            <h5>{{fileInfo.name}} <span *ngIf="!fileInfo.exists">(not found)</span> <button mat-button color="primary"
                (click)="forget()">Forget</button></h5>
          </mat-list-item>
          <mat-divider *ngIf="fileInfo.exists"></mat-divider>
          <mat-list-item class="info-container" *ngIf="fileInfo.exists">
            Drive File Name: {{fileInfo.fileName}}
          </mat-list-item>
          <mat-divider *ngIf="fileInfo.exists"></mat-divider>
          <mat-list-item *ngIf="fileInfo.exists">
            Drive Access Level: {{fileInfo.role}}
          </mat-list-item>
        </mat-list>
      </div>
      <div class="form-button-container">
        <button mat-fab [disabled]="!changed" (click)="confirm()" color="primary">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
    <div class="input-form">
      <h2>Currency Data</h2>
      <span *ngIf="currencyData">
        Current currency data for {{currencyData.start.format("ll")}} to {{currencyData.end.format("ll")}}
      </span>
      <span *ngIf="!currencyData">
        No currency data
      </span>
      <mat-form-field class="input-form-field currency-field" *ngIf="settings">
        <mat-select [value]="settings.defaultCurrency" (selectionChange)="setCurrency($event.value)" placeholder="Default Currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-expansion-panel #currencyUpload>
        <mat-expansion-panel-header>
          Upload Currency Data
        </mat-expansion-panel-header>
        Download from <a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html"
          target="_blank">ECB</a>:
        <a href="https://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist-90d.xml" target="_blank">last 90 days</a>
        or
        <a href="https://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist.xml" target="_blank">all</a>
        <mat-form-field class="input-form-field currency-field">
          <input matInput [matDatepicker]="datepicker" placeholder="Only Dates After" [(ngModel)]="currencyMinDate">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <input type="file" #currencyInput (change)="uploadCurrencies()" class="file-select">
      </mat-expansion-panel>
    </div>
  </div>
</app-shell>